*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: linear-gradient(rgba(104, 117, 255, 0.8), rgba(104, 117, 225, 0.3));
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin-left: -650px !important;
}
  
nav ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}

#searchInput {
    border-radius: 16px;
    border-color: rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 30px;
    padding-left: 16px;
}

#searchInput::placeholder {
    color: rgba(15, 215, 255, 1);
}

body {
    background-image: linear-gradient(to right, rgba(15, 215, 255, 1), rgba(0, 255, 0, 0)), url("backgroundImage.jpg");
    background-size: 100% 400%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 4px;
    color: black;
}

.home h1 {
    font-size: 48px;
}

.home {
    padding-left: 200px;
    padding-top: 120px;
}

.home button {
    width: 120px;
    height: 30px;
    background-color: rgba(15, 105, 125, 0.8) !important;
    border: none;
}
