*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
  
nav ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}

.home {
    background-image: url("backgroundImage.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.8));
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center; /* Centers the image */
    color: white; /* For better text readability on a dark background */
    display: flex;
    flex-direction: column;
    text-align: center;
}
