*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
  
nav ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}

body {
    background-image: url("backgroundImage.jpg");
    background-size: 100% 400%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
}
